*.user
*.o
*.debug
*.release
*.exe
*.swf
tmp
debug
release
bin
NeTVServer-build-desktop
src/Makefile
src/*.user
src/make-arm.sh
src/tmp
src/bin
logs
JSCore
tmp
CPanel
etc/*.log
etc/docroot/widget_engine.swf
etc/docroot/css
etc/docroot/widgets
etc/docroot/CPanel
etc/docroot/JSCore
etc/docroot/tmp/*
etc/docroot/index*
