*.user
*.o
*.debug
*.release
*.exe
tmp
debug
release
bin
NeTVServer-build-desktop
NeTVServer-build-desktop/*
src/Makefile
src/*.user
src/make-arm.sh
src/tmp
src/tmp/*
src/bin
src/bin/*
logs
logs/*
etc/*.log
