/*-----------------------------
	Keyboard
-----------------------------*/

#keyboard {
	margin: 0 auto;
}

.mac_key , .mac_key_selected {
	width: 42px;
	height: 41px;
	float:left;
	line-height: 40px;
	text-align: center;
	background-repeat: no-repeat;
	border: 0;
	font-size: 16;
	font-weight: bold;
	font-family: Dejavu;		/* default Qt font */
}
.mac_key {
	background-image: url('key.png');
	color: #aaaaaa
}
.mac_key_selected {
	background-image: url('key_selected.png');
	color: #000000
}
