/*-----------------------------
	BASIC PAGE STYLING
-----------------------------*/

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6
{
	margin:0;
	padding:0;
	-webkit-text-size-adjust:none;
}
body
{
	overflow: auto;
	font-size: 14px;
	margin: 15px;
}

.adc
{
	height: 10px;
	margin-top: 5px;
}

#sortable { list-style-type: none; margin: 0; padding: 0; }
#sortable li { margin: 0 5px 15px 5px; padding: 10px; font-size: 1.0em; }

.portlet { margin: 0 1em 1em 0; background-color: #808080; background-image: url('') }
.portlet-header { padding-bottom: 4px; padding-left: 0.2em; background-image: url(''); background-color: #4977FF; border: 0; }
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0.4em; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.slider { margin: 12px 10px 10px 8px; }
.ui-progressbar-value { background-color: #f0f0f0; background-image: url(''); }
.ui-slider-handle { background-color: #f0f0f0; background-image: url(''); border-color: #4977FF; }
.button_group, button { float:left; clear:none; margin:3px 0px 10px 6px; padding:0; }