.meter
 {
	height: 20px;
	position: relative;
	background: #202020;
	border-radius: 24px;
	padding: 8px;
	margin-left: 40px;
	margin-right: 40px;
	text-align: center;
}

.meter > span 
{
	display: block;
	height: 100%;
			   border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
				border-top-left-radius: 24px;
			 border-bottom-left-radius: 24px;
	background-color: #6598EB;
	position: relative;
	overflow: hidden;
}

.meter > span:after, .animate > span > span
 {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image: 
	   -webkit-gradient(linear, 0 0, 100% 100%, 
		  color-stop(.25, rgba(255, 255, 255, .08)), 
		  color-stop(.25, transparent),
		  color-stop(.5, transparent), 
		  color-stop(.5, rgba(255, 255, 255, .08)), 
		  color-stop(.75, rgba(255, 255, 255, .08)), 
		  color-stop(.75, transparent),
		  to(transparent)
	   );
	z-index: 1;
	-webkit-background-size: 50px 50px;
	-webkit-animation: move 2s linear infinite;
			   border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
				border-top-left-radius: 20px;
			 border-bottom-left-radius: 20px;
	overflow: hidden;
}

.animate > span:after
 {
	display: none;
}

@-webkit-keyframes move
{
	0% {
	   background-position: 0 0;
	}
	100% {
	   background-position: 50px 50px;
	}
}
