.meter
 {
	height: 20px;
	position: relative;
	background: #202020;
	border-radius: 24px;
	padding: 8px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 20px;
}

.meter > span 
{
	display: block;
	height: 100%;
			   border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
				border-top-left-radius: 24px;
			 border-bottom-left-radius: 24px;
	background-color: #6598EB;
	position: relative;
	overflow: hidden;
}