body {
	font-family: Verdana;
	margin: 0px;
	background-color: #444444;
	color: #EEEEEE;
}

.service_header_row {
	background-color: #000000;
	border: 1px solid #00BBFF;
}

.service_row {
	background-color: #0077DD;
	border-top: 1px dotted #0033DD;
}

.service_done {
	text-align: center;
	background-color: #00CC00;
	color: #000000;
	font-size: 12px;
}
.service_in_progress {
	text-align: center;
	background-color: #CCAA00;
	font-size: 12px;
}
.service_pending {
	text-align: center;
	background-color: #CC0000;
	font-size: 12px;
}

#title {
	color: #FFFFFF;
	font-size: 25px;
	padding: 25px;
}

input {
	font-size: 13px;
	margin-bottom: 5px;
	display: block;
	padding: 4px;
	width: 200px;
	border: 1px solid #0044AA;
}

button { 
	background: #0044AA;
	padding: 5px;
	border: 0px;
	color: #444444;
}

input:hover {
	background: orange;
}